{# templates/blog/apropos.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}À propos de moi{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card bg-dark text-light mb-4">
                <div class="card-body">
                    <h1 class="display-4">Mes passions et centres d'intérêt</h1>
                </div>
            </div>

            {# Intérêt Principal #}
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <h2>Centre d'intérêt</h2>
                </div>
                <div class="card-body">
                    <h4><i class="fas fa-shield-alt mr-2"></i>Cybersécurité</h4>
                    <p>Passionné par la sécurité informatique, j'aimerais apprends à protéger les systèmes et à comprendre les différentes menaces. .</p>
                </div>
            </div>

            {# Passions Personnelles #}
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2>Passions Personnelles</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title"><i class="fas fa-basketball-ball mr-2"></i> Basketball</h5>
                                    <p class="card-text">
                                        Passionné de basketball, ce sport me permet de développer mon esprit d'équipe 
                                        et mon sens de la stratégie. C'est aussi un excellent moyen de me maintenir 
                                        en forme et de décompresser.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title"><i class="fas fa-users mr-2"></i> Relations Humaines</h5>
                                    <p class="card-text">
                                        Mon expérience dans la restauration m'a permis de développer d'excellentes 
                                        compétences en communication. J'apprécie particulièrement les interactions 
                                        avec les clients et le travail en équipe, ce qui m'aide à développer mes 
                                        compétences relationnelles.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title"><i class="fas fa-plane mr-2"></i> Voyages</h5>
                                    <p class="card-text">
                                        Les voyages sont pour moi une source d'enrichissement personnel et culturel. 
                                        J'aime découvrir de nouveaux endroits, rencontrer différentes personnes et 
                                        m'immerger dans diverses cultures.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}