{# templates/blog/apropos.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}À propos de moi{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card bg-dark text-light mb-4">
                <div class="card-body">
                    <h1 class="display-4">Mes passions et centres d'intérêt</h1>
                </div>
            </div>

            <div class="row">
                {% for hobby in hobbies %}
                    <div class="col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="card-title">{{ hobby }}</h3>
                                <p class="card-text">
                                    Description détaillée de mon intérêt pour {{ hobby }} et comment 
                                    cela contribue à mon développement professionnel.
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="card mt-4">
                <div class="card-header bg-primary text-white">
                    <h2>Projets personnels</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="card h-100">
                                <img src="{{ asset('images/reseau.jpg') }}" class="card-img-top" alt="Image réseau">
                                <div class="card-body">
                                    <h5 class="card-title">Administration Réseau</h5>
                                    <p class="card-text">Configuration et maintien de réseaux informatiques, 
                                    avec une attention particulière pour la sécurité et la performance.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="card h-100">
                                <img src="{{ asset('images/dev.jpg') }}" class="card-img-top" alt="Image développement">
                                <div class="card-body">
                                    <h5 class="card-title">Développement Web</h5>
                                    <p class="card-text">Création de sites web modernes utilisant les dernières 
                                    technologies comme Symfony et Bootstrap.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}